@import url('/src/index.css');

.hero {
    margin: 20px;
    width: 100%;
    display: inline-block;
}

.hero__img {
    width: 33%;
    display: inline-block;
    vertical-align: middle;
}

.hero__img img {
    border-radius: 5px;
    border: solid 2px var(--gray-b-color);
}

.hero__txt {
    width: 66%;
    display: inline-block;
    vertical-align: middle;
}

.hero__txt p {
    margin-top: 20px;
}

.hero__socials {
    margin-top: 40px;
}

.hero__stack {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 50px;
}

.hero__stack p {
    font-weight: bold;
    margin-top: unset;
    padding-right: 15px;
    margin-right: 15px;
    display: inline-block;
    border-right: solid 2px var(--accent);
}

.hero__stack i {
    margin-right: 30px;
    font-size: 40px;
}

.profcards {
    width: 100%;
    margin-top: 66px;
    display: inline-flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 60px;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    background-color: var(--gray-l2-color);
    border: solid 2px var(--gray-b-color);
    border-radius: 5px;
}

.card:hover {
    color: var(--backgound);
    background-color: var(--white-b-color);
    border: solid 2px var(--gray-d1-color);
    transition: 0.4s;
}

.card__img {
    width: 100%;
}

.card__txt p {
    margin: 10px 20px;
    font-weight: bold;
    height: auto;
}

.blog__img {
    margin-top: 5px;
    margin-right: 10px;
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

.blog__txt {
    width: 72.5%;
    display: inline-block;
    vertical-align: top;
}

.contact__wrapper {
    margin: 75px 200px;
}

.contact__field {
    width: 50%;
    display: inline-block;
}

@media screen and (max-width: 736px) {
    .hero {
        width: 100%;
        margin: unset;
        display: block;
    }

    .hero__img {
        width: 80%;
    }

    .hero__img img {
        width: 100%;
        border-radius: 5px;
        border: solid 2px var(--gray-b-color);
    }

    .hero__txt {
        width: 100%;
        display: block;
        text-align: center;
    }

    .hero__socials {
        margin-top: 20px;
    }

    .hero__stack {
        margin: auto 0px;
        margin-top: 30px;
    }

    .hero__stack p {
        padding-right: 10px;
        margin-right: 10px;
    }

    .hero__stack i {
        margin-right: 15px;
        font-size: 35px;
    }

    .profcards {
        width: 100%;
        margin-top: 30px;
        display: inline-flex;
        align-items: flex-start;
        align-content: flex-start;
        gap: 20px;
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
    }

    .card__link {
        display: block;
        height: auto;
        width: auto;
    }

    .card__img {
        width: 25%;
        display: inline-block;
    }

    .card__txt {
        display: inline-block;
        font-weight: bold;
        vertical-align: middle;
    }

    .card__txt p {
        margin: unset;
        font-weight: unset;
        vertical-align: middle;
    }

    .blog__img {
        height: 200px;
        object-fit: cover;
        margin-top: 5px;
        margin-right: 5px;
        width: 90vmin;
        display: block;
    }

    .blog__txt {
        margin-top: 10px;
        width: 90vmin;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .contact__wrapper {
        margin: 10px;
    }

    .contact__field {
        margin-top: 20px;
        width: 50%;
        display: block;
    }
}
