@import url('/src/index.css');

:root {
    --background-nav1: rgba(255, 255, 227, 0.1);
    --background-nav0: rgba(255, 255, 227, 0);
}

.wrapper {
    position: fixed;
    top: 0px;
    background: linear-gradient(135deg, var(--background-nav1), var(--background-nav1));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--text);
}

.sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.site-header {
    position: relative;
}

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
@media (min-width: 660px) {
    .site-header__wrapper {
        padding-top: 0;
        padding-bottom: 0;
    }
}
@media (max-width: 659px) {
    .site-header__end {
        padding-right: 4rem;
    }
}

@media (min-width: 660px) {
    .nav__wrapper {
        display: flex;
    }
}

@media (max-width: 659px) {
    .nav__wrapper {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: -1;
        background-color: var(--background);
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100%);
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    }
    .nav__wrapper.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

.site-header__start {
    padding-left: 1.5em;
    width: 125px;
}

.logo__svg {
    position: fixed;
    top: 0px;
    width: 125px;
    height: auto;
    top: 1em;
    left: 7.5em;
    z-index: var(--z-fixed);
}

#circle1,
#ellipse1,
#ellipse2,
#ellipse3 {
    stroke: var(--text);
}

#globe {
    transform-box: fill-box;
    transform-origin: center;
    animation: weblogo-spin infinite 30s linear;
    height: 80px;
}

@keyframes weblogo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.nav__item a {
    display: block;
    padding: 1.5rem 1rem;
}

ol,
ul {
    list-style: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-nav1: rgba(16, 16, 14, 0.1);
        --background-nav0: rgba(16, 16, 14, 0);
    }
}
