/*=============== LOCAL FONTS ===============*/
@import url('./assets/fonts/chubbo.css');
@import url('./assets/fonts/khand.css');
@import url('./assets/fonts/switzer.css');

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors Palette ==========*/
    --text: #10100e;
    --gray-d3-color: #191815;
    --gray-d2-color: #30302b;
    --gray-d1-color: #606055;
    --gray-b-color: #c0c0ab;
    --gray-l1-color: #e8e8cf;
    --gray-l2-color: #f8f8dd;
    --background: #ffffe3;
    /*--primary: #10100e;
--text: #10100e;*/
    --accent: #ff6b00;

    /*========== Font and typography ==========*/
    --heading-font: 'Chubbo-Variable', sans-serif; /*or Khand, Switzer, Questrial*/
    --heading-italic: 'Chubbo-VariableItalic', sans-serif;
    --body-font: 'Switzer-Variable', sans-serif; /*or Atkinson Hyperlegible*/
    --body-italic: 'Switzer-VariableItalic', sans-serif;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
        --header-font-size: 3rem;
        --normal-font-size: 1rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: var(--body-font);
    line-height: 1;
    margin-bottom: 1.25em;
}

.container {
    max-width: 1200px;
    min-height: 75vmin;
    margin: 13.125em auto 0 auto;
}

a:hover {
    transition: 0.4s;
    color: var(--accent);
}

/*
    standard heading styling of every browser:
    h1 - font-size: 2em  = 32px 
    h2 - font-size: 1.5em  = 24px 
    h3 - font-size: 1.17em  = 18.72px 
    h4 - font-size: 1em  = 16px 
    h5 - font-size: 0.83em  = 13.28px 
    h6 - font-size: 0.67em  = 10.72px

    medium inspired headings:
*/

h1 {
    font-family: var(--heading-italic);
    font-size: 42px;
    font-weight: 700;
    line-height: 100%; /* 42px */
}

h2 {
    font-family: var(--heading-italic);
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

/*  h4 - font-size: 1em  = 16px 
    h5 - font-size: 0.83em  = 13.28px 
    h6 - font-size: 0.67em  = 10.72px*/

p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.p__bold {
    font-weight: bold;
}

img {
    width: 100%;
}

.gallery {
    line-height: 0;
    -webkit-column-count: 3; /* split it into 5 columns */
    -webkit-column-gap: 10px; /* give it a 5px gap between columns */
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    column-count: 3;
    column-gap: 10px;
    margin: 10px 0 10px; /* to match column gap */
}

.gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 10px; /* to match column gap */
}

@media (max-width: 1000px) {
    #gallery {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 800px) {
    #gallery {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 400px) {
    #gallery {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

.page__title {
    width: 66%;
    margin: 0px auto 20px;
    text-align: center;
}

.stats__graph {
    width: 50%;
}

.stats__numbers {
    width: 25%;
}

.hero__profession p {
    margin-top: 5px;
}

.socials i {
    color: var(--accent);
    margin-right: 10px;
    font-size: 30px;
}

.section {
    margin-top: 66px;
    width: 100%;
    background-color: var(--gray-l2-color);
    border: solid 2px var(--gray-b-color);
    border-radius: 5px;
}

.section__wrapper {
    margin: 10px 20px 20px 20px;
}

/*template für buttons holen!
button {
    background-color: var(--accent);
    border: solid 2px var(--gray-b-color);
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    /*margin: 10px 0px;*
    cursor: pointer;
}

button:hover {
    color: black;
    border: solid 2px var(--gray-d1-color);
    transition: 0.4s;
}

.btn p {
    margin: 10px 10px;
}*/

@media screen and (max-width: 736px) {
    .section {
        margin-top: 30px;
        width: 100vmin;
        background-color: var(--gray-l2-color);
        border: solid 2px var(--gray-b-color);
        border-radius: 5px;
        height: auto;
    }

    .section__wrapper {
        margin: 10px;
    }

    .btn {
        margin-top: 10px; /*lösung finden!!!!!!!!!!!!!!!!!!*/
        width: 66%;
        background-color: var(--accent);
        border: solid 2px var(--gray-b-color);
    }

    .btn:hover {
        color: black;
        border: solid 2px var(--gray-d1-color);
        transition: 0.4s;
    }

    .btn p {
        margin: 10px 10px;
    }

    .stats__graph {
        width: 100%;
    }

    .stats__numbers {
        width: 75%;
    }
}

@media screen and (max-width: 736px) {
    .container {
        margin: unset;
        padding: unset;
        max-width: 100vmax;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
        font-weight: bold;
    }

    /*  h4 - font-size: 1em  = 16px 
    h5 - font-size: 0.83em  = 13.28px 
    h6 - font-size: 0.67em  = 10.72px*/

    p {
        font-size: 18px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        /*========== Colors Palette ==========**/
        --text: #ffffe3;
        --gray-b-color: #191815;
        --gray-l2-color: #30302b;
        --gray-l1-color: #606055;
        --gray-b-color: #c0c0ab;
        --gray-d1-color: #e8e8cf;
        --gray-d2-color: #f8f8dd;
        --background: #10100e;
        /*--primary: #FFFFE3;
      --text: #FFFFE3;*/
        --accent: #cf773a;
    }
}
